
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');



:root{
    --border-color: rgba(255, 0, 0, 0);

    --soft-teal: rgba(100, 180, 180, 1);
    --misty-aqua: rgba(175, 220, 220, 1);
    --deep-slate: rgba(50, 70, 80, 1);
    --light-mint: rgba(230, 250, 250, 1);
    --deep-orange: rgba(242, 153, 74, 1);

    --hero-size: 65vw;

}


*{
    font-family: 'zain';
}



#lottie-loading-animation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 20%;
    z-index: 11;
}


.hero-content{
    margin-bottom: 3vh;
    margin-top: 3vh;
    position: relative;
}

.hero-content p{
    max-width: var(--hero-size);
}

.hero-image{
    height: var(--hero-size);
    width: var(--hero-size);
    background-color: var(--soft-teal);
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px solid var(--deep-slate);
}

#hero1{
    left: 15vw;
}

#hero2{
    left: -15vw;
}

#image2{
    background-image: url('../media/Screenshot\ 2025-12-10\ 142044.png');
}


.empty-text{
    font-size: 6vw;
    font-weight: 700;
}

.empty-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 85%;
}


/******************************* default container styling *******************************************/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
}




/******************************* name element selectors *******************************************/


html, body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

body{
    color: var(--deep-slate);
    height: auto;
    width: 100%;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--misty-aqua);
    margin: auto;
    padding-bottom: 4vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 9vw;
    height: 10vh;
    width: 100%;
    border: 2px solid var(--border-color);
    background-color: var(--soft-teal);
    padding-left: 2%;
    
}
textarea{
    border: 4px solid var(--deep-slate);
    color: var(--deep-slate);
    font-family: inherit;
    width: 45%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    font-size: 4vw;
}
textarea:focus{
    border: 4px solid var(--deep-orange);
}

#feedback{
    background-image: url('../icons/icons8-feedback-100.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2vw;
    height: 90%;
    width: 15%;
    cursor: pointer;

}
#feedback:active{
    filter: brightness(55%);
}

.backdrop{
    height: 100%;
    width: 100%;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(50,70,80,0.25);
    transition: top 0.5s ease-in-out;
    z-index: 10;
}
.backdrop-show{
    top: 50%;
}

.feedback-form{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 70%;
    padding: 2%;
    border-radius: 20px;
    z-index: 11;
    transition: top 0.5s ease-in-out;
    background-color: var(--light-mint);
}

.feedback-show{
    top: 50%;
}

.feedback-form > div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
}

.feedback-form > *{
    background-color: rgba(0,0,0,0);
    width: 100%;
}

fieldset > *{
    margin-bottom: 3vh;
    width: 90%;
}

fieldset > button{
    background-color: var(--deep-slate);
    color: var(--light-mint);
    height: auto;
    font-size: 8vw;
    border: none;
    border-radius: 20px;
}
fieldset > textarea{
    font-size: 5vw;
}

fieldset > button:hover{
    background-color: var(--light-mint);
    color: var(--deep-slate);
}

#close-feedback{
    cursor: pointer;

    background-color: var(--light-mint);
    font-size: 5vw;
    border-radius: 10px;
    border: 3px solid var(--deep-slate);
}
#close-feedback:active{
    filter: brightness(75%);
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    border: 2px solid var(--border-color);
    background-color: var(--soft-teal);
    margin-top: 10vh;

}
h1{
    max-width: 70%;
    text-align: center;
    border: 2px solid var(--border-color);
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 95vw;
    background-color: var(--light-mint);
    border: 2px solid var(--border-color);
    padding: 1%;
    border-radius: 20px;
    animation: slide_up .5s ease-out forwards;
    animation-delay: 1000ms;
    opacity: 0;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 2px solid var(--border-color);
}




/******************************** form elements ******************************************/

.captionContainer{
    font-size: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--border-color);
    width: 95%;
    padding: 2%;

}
.inputContainer{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75vh;
    margin-bottom: 0.75vh;
}

.addButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid var(--border-color);
    width: 100%;
    height: 4vh;
    margin-bottom: 8vh;
}

#addMore{
    background-image: url('../icons/icons8-plus-button-50.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0);
    border: none;
    height: 10vh;
    width: 10vw;
    background-size: contain;
}

/******************************* anchors *******************************************/

a{
    text-decoration: none;
    color: var(--deep-slate);
}

.blockAnchor{
    display: inline-block;
    height: 3vh;
    width: 5vw;
}

/****************************** back buttons ********************************************/


.backButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 3vh;
    border: 2px solid var(--border-color);
    background-color: var(--light-mint);
    background-image: url('../icons/icons8-back-arrow-50.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
.backButton:active{
    filter: brightness(85%);
}
.backButton.extra{
    height: 3vh;
}

.backContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid var(--border-color);
    height: auto;
    padding-left: 2%;
    animation: slide_up 1s ease-out forwards;
    animation-delay: 800ms;
    opacity: 0;
}
.backContainer.one{
    margin-top: 1vh;
    width: 100vw;
}
.backContainer.two{
    margin-bottom: 1vh;
    width: 70%;
}

/******************************* flashcards *******************************************/


#flashCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    border: 2px solid var(--border-color);
    padding: 2%;
}

.flashcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: auto;
    border: 2px solid var(--border-color);
    margin-top: 1.25vh;
    margin-bottom: 1.25vh;
    padding: 2%;
    background-color: var(--light-mint);
    border-radius: 20px;
    perspective: 4000px;
}

.content{
    font-size: 4vw;

    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flashcard.flip .content{
    transform: rotateY(180deg);
    transition: transform 0.5s;
    border: 3px solid var(--deep-slate);
    border-radius: 20px;
}

.front,.back{
    backface-visibility: hidden;
}

.front{
    transform: rotateY(0deg);
}
.back{
    transform: rotateY(180deg);
}



/***************************** button class *********************************************/

#enterButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 45vw;
    background-color: var(--light-mint);
    border-radius: 20px;
    border: 2px solid var(--border-color);
}
#enterButton:active{
    filter: brightness(85%);
}

#unique{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 10vh;
    width: 14vw;
    font-size: 5.5vw;
    font-weight: 800;
}

#entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
}

/****************************** button class ********************************************/

.delete-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid var(--border-color);
}
.delete-button{
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    height: 4vh;
    width: 8vw;
    background-image: url('../icons/delete-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#clear-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
}
.subtext-container{
    font-size: 1.7vh;
}

/****************************** button class ********************************************/

.progressButton{
    border: 2px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 65%;
    font-size: 5.5vw;
}

#myForm > button{
    font-size: 7.5vw;

}




.progressButton:active{
    filter: brightness(85%);
}
.progressButton.zero{
    background-color: var(--misty-aqua);
}
.progressButton.one{
    background-color: var(--light-mint);
}

/****************************** icons ********************************************/

.imageContainer{
    background-image: url('../icons/icons8-stack-of-books-100.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 12vh;
    width: 20vw;
    border: 2px solid var(--border-color);
    
}


.logo{
    animation: slide_right 1s ease-out forwards;
    animation-delay: 700ms;
    transform: translateX(-40vw);
}

/****************************** animation functions ********************************************/

@keyframes slide_up{
    0%{
        transform: translateY(5vh);
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes slide_right{
    0%{
        transform: translateX(-40vw);
    }
    100%{
        transform: translateX(0vw);
    }
}